# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
backend/venv/

# Environment Variables
.env

# VS Code
.vscode/

# JetBrains
.idea/

# Node
node_modules/

# Build folders
dist/
build/

# Logs
*.log